*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(227, 32, 32);
    font-family: 'Roboto', sans-serif;

    
}
a{
    text-decoration: none;

}
ul{
    list-style-type: none;
}
img{
    width: 100%;
         /* for universally set the img resolution  */
}
/* global classes */
.container{
    max-width: 1200px;
    margin: auto;
}